

body{
    margin: 0;
}
.top-container{
    margin: 0;
    height: 37.5rem;
    background-color: #F4F6FF;
}
h1{
    margin: 0;
    text-align: center;
    padding-top: 7.5rem;
    font-family: cursive;
    color: #66BFBF;
}

h2, h3{
    font-family: sans-serif;
    color: #66BFBF;
}

p{
    text-align: center;
    padding-top: 20px;
    font-family: sans-serif;
    color: #40514E;
}

a:hover{
    color: darkturquoise;
}


.lowimage{
    position: absolute;
    bottom: 15.625rem;
    padding-right: 0;
    margin-left: 60px;
}
.upimage{
    position: absolute;
    top: 3.75rem;
    right: 9.375rem;
}

#mo{
    width: 30rem;
    height: 15.625rem;
    position: relative;
    top: 7.5rem;
    left: 28.125rem;
}

.middle-container{
    margin-top: 70px;
}

img.my-image{
    width: 10rem;
    height: 10rem;
    text-align: center;
}

.profile{
    text-align: center;
    
}

hr{
    width: 2rem;
    border-style: dotted none none none;
    border-width: 0.25rem;
    color: #aaaaaa;
    margin-top: 70px;
    margin-bottom: 70px;
}

.skills{
    text-align: center;
    margin-bottom: 70px;
}

.skill-row{
    margin-top: 70px;
}

.contact-me{
    text-align: center;
    margin-bottom: 70px;
}

.bottom-container{
    text-align: center;
    margin-bottom: 20px;
    background-color: #F4F6FF;
    height: 120px;
    padding-top: 30px;
    margin-bottom: 0px;
}

.front-end{
    width: 170px;
    height: 170px;
    border-radius: 100%;
}

.floating{
    line-height: 0;
    float: right;
    position: relative;
    right: 300px;
    text-align: initial;
}

.back-end{
    width: 170px;
    height: 170px;
    border-radius: 100px;
    border-top: 70px;
}
#back-end{
    line-height: 0;
    float: left;
    position: relative;
    left: 300px;
    border-top: 70px;
    text-align: initial;
}

#a1{
    position: absolute;
    margin-left: 20px;
}

#a2{
    position: absolute;
    margin-left: -80px;
}

.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    -webkit-box-shadow: 0px 1px 3px #F4F6FF;
    -moz-box-shadow: 0px 1px 3px #F4F6FF;
    box-shadow: 0px 1px 3px #F4F6FF;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498DB;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3498DB;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }